# Unsloth / Tokenizer Cache
unsloth_compiled_cache/
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Logs
*.log
training.log

# Large Models / Temp Merges (Excluded to save GH space)
models/
models_gguf/
outputs/
*.gguf

# OS
.DS_Store

# Data (Sensitive or large files)
data/
